@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-mu81dk');
	src:url('fonts/icomoon.eot?#iefix-mu81dk') format('embedded-opentype'),
		url('fonts/icomoon.ttf?-mu81dk') format('truetype'),
		url('fonts/icomoon.woff?-mu81dk') format('woff'),
		url('fonts/icomoon.svg?-mu81dk#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
	content: "\e9bd";
}
