@import url(https://fonts.googleapis.com/css?family=Exo+2)

//generales
body
    font-size 16px
    
a
    margin 0
    padding 0
    text-decoration none
    &:hover
        cursor pointer
h1
    margin 0
    padding 0
    font-family 'Oswald', sans-serif
    font-size 3em
    
h2
    margin 0
    padding 0
    font-family 'Titillium Web', sans-serif
    font-size 2em

h3, h4, h5
    font-family 'Titillium Web', sans-serif
    margin 0
    font-size 1.5em
    
p, li
    font-family 'Exo 2', sans-serif
    font-size  1em

//template
.top
    background #333
    height 50px
    .item
        display inline-block
        vertical-align top
    .logo
        background #e1e1e1
        border-radius 50%
        height 50px
        margin 0
        padding 10px
        position relative
        transition all .3s linear
        width 50px
        z-index 100
        @media screen and (orientation: landscape)
            height 70px
            width 70px
            &:hover
                height 90px
                width 90px
        img
            height 100%
    .responsive
        display none
        @media screen and (orientation: landscape)
            display inline-block
            position static
            width: auto
            height 50px
    nav
        background #333 
        box-sizing border-box
        display: block
        padding-left 1em
        position absolute
        top 50px
        width 100%
        @media screen and (orientation: landscape)
            display none
        ul
            list-style none
            margin 0
            padding 0
            li
                border-bottom 1px solid #e1e1e1
                line-height 50px
                @media screen and (orientation: landscape)
                    border-bottom none  
                    display inline-block
                    width 90px
                    vertical-align top
                    text-align center
                    height 100%
                a
                    color #e1e1e1
                    font-family 'Titillium Web', sans-serif
                    display block
                    height 100%
                    transition all .3s linear
                    &:hover
                        font-size 1.2em
    aside 
        height 50px
        line-height 50px
        position absolute
        right 4em
        top 0
        a
            color #e1e1e1
            font-size 1em
        .bandera
            height 25px
    .icon-menu
        color #e1e1e1
        display inline-block
        font-size 2em
        position absolute
        right 0.5em
        @media screen and (orientation: landscape)
            display none
            
x
        
header
    background #1E3C90
    box-shadow rgba(100,100,100,0.8) 3px 3px 5px
    color rgba(230,230,230,1)
    height 100px
    margin 0
    padding  50px 0 25px 0
    text-align center
    width 100%
    @media screen and (orientation: landscape)
        padding  70px 0 45px 0
    
.contacto
    border-bottom #e1e1e1 solid   
    
    h5
        color rgba(2,2,2,1)
        display inline-block
        font-family 'Titillium Web', sans-serif
        font-size 0.75em
        margin 0.5em 0 0.5em 0.5em
        vertical-align top
        @media screen and (orientation: landscape)
            font-size 1em
//paginas Estáticas
section
    color #333
    
    h2
        text-align center
.first
    text-align center
    display: block
img
    max-width 100%
        
.products 
    height auto
    .list
        background rgba(230,230,230,0.5)
        box-sizing border-box
        border 10px double #e2e2e2
        border-radius 2em
        display block
        margin 0
        margin-top 2em
        padding 1em
        text-align center
        @media screen and (orientation: landscape)
            display inline-block
            vertical-align top
            width 49% 
            h3
                display inline-block
                margin-right 1em 
                vertical-align top   
    figure
        box-sizing border-box
        display block
        margin 0
        padding 1em 1em
        @media screen and (orientation: landscape)
            display inline-block
            width 49%
            
    
.services 
    display block
    padding 1em
    @media screen and (orientation: landscape)
        text-align center
    article
        box-sizing border-box
        display block
        @media screen and (orientation: landscape)
            display inline-block
            text-align left
            width 30%
    figure
        box-sizing border-box
        display block
        margin 5em 0 0 0
        vertical-align top
        @media screen and (orientation: landscape)
            display inline-block
            width 30%
            padding 0 3em
footer
    background rgba(35,128,147,1)
    height 400px
    margin-top 2em
    width 100%
//parte de productos
.menu
    display block
    @media screen and (orientation: landscape)
        display inline-block
        margin-top 40px
        padding 1em
        vertical-align top
        width 30%
    a:visited
        color #333
    ul
        list-style none
        margin 0 
        padding 0
        li
            background #1e3c90
            border 1px solid #e1e1e1
            border-radius 5px
            color #e1e1e1
            display block
            &:hover
                cursor pointer
            h3 
                margin-left 1em
            ul
                li
                    background #e1e1e1
                    border-bottom 1px solid #eee
                    border-radius 0
                    color #333
                    padding .5em 0 .5em 2em
                    a
                        color#333
                        display block
                        height 100%
.tabla
    display block
    text-align center
    width 100%
    @media screen and (orientation: landscape)
        display inline-block
        vertical-align top
        width 65%
    .tablero
            display flex
            flex-wrap wrap
            justify-content space-around 
        .tarjeta
            display block
            border-bottom 1px solid #e1e1e1
            margin-bottom 3em
            @media screen and (orientation: landscape)
                display inline-block
                vertical-align top
                width 40%
            a
                color #333
                &:visited
                    color #333
.producto
    display block
    @media screen and (orientation: landscape)
        color #333
        display inline-block
        vertical-align top
        width 65%
    .tipo
        border-bottom 1px solid #e3e3e3
        display block
        height 40px
        margin 0 2em 1em 2em
        h2
            display inline-block
        h3
            display inline-block
            margin 0
            float right
    .derecha
        display block
        @media screen and (orientation: landscape)
            display inline-block
            vertical-align top
            padding 1em 0 0 1em
            width 300px
        .identificacion
            h2
                text-align left
            h4
                margin 0
    .tabs
        margin 0
        padding 0
        .pestanas
            border 1px solid #e1e1e1 
            display inline-block
            height 50px
            line-height 50px
            vertical-align top
            a
                display inline-block
                height 100%
                padding 0 1em
        .active
            background-color #1e3c90
            color #e1e1e1
    .articulos
        border 1px solid #e1e1e1
        display block
        padding 0 2em 2em 2em
        box-shadow inset 1px 1px 5px #e1e1e1
        article
            display block
            width 100%
            margin 0
            h2
                text-align left
                margin 1em 0 0.3em 0
            p
                margin 0